body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background: url(./totoro.gif)no-repeat center fixed;
    background-size: cover;
    height: 100%;
	width: 100%;
    

}

nav > ul{
    margin: 0px;
    padding: 0px;

}

nav li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    
    
}

.submenu{
    display: none;
}

nav input[type=checkbox]{
    display: none;
}

.mobilemen{
    display: none;
}

nav{
    width: 100%;
    background-color: #5684ae;
}

nav > ul > li{
    float: left;
    position: relative;
    
}

nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: inline-block;
    text-decoration: none;

}

nav > ul > li> a{
    padding: 20px 20px;
    color: azure;
    
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    left: 0px;
    padding: 0px;
    z-index: 100000;

}

.submenu li{
    border-bottom: 1px solid #ccc;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #280137;
    width: 270px;
    font-weight: 500;
    
}

.htmlmen:hover{
    border-top: 5px solid #0203e2;
    background-color: rgba(2, 3, 226, 0.15);
}

.cssmen:hover{
    border-top: 5px solid #0203e2;
    background-color: rgba(2, 3, 226, 0.15);
}

.jsmen:hover{
    border-top: 5px solid #0203e2;
    background-color: rgba(2, 3, 226, 0.15);
}

.contactmen:hover{
    border-top: 5px solid #0203e2;
    background-color: rgba(2, 3, 226, 0.15);
}

nav>ul>li:hover a{
    padding: 15px 30px 20px 30px;
}

.htmlmen .submenu{
    background-color:#448ee4 ;
}

.cssmen .submenu{
    background-color:#448ee4 ;
}

.jsmen .submenu{
    background-color:#448ee4 ;
}

.submenu li:hover a{
    color: #ffffff;
    font-weight: bold;
}

.htmlmen .submenu li:hover{
    background-color:#0241e2 ;
}

.cssmen .submenu li:hover{
    background-color:#0241e2 ;
}

.jsmen .submenu li:hover{
    background-color:#0241e2 ;
}

nav input[type=checkbox]:checked ~ ul{
    display: block;
}

@media screen and (max-width : 680px){
    .mobilemen{
        display: block;
        color: #fff;
        background-color: rgba(29, 197, 151, 0.97);
        text-align: center;
        padding: 12px 0;
    }
    nav ul{
        display: none;
    }

    nav ul li, nav ul li a{
        width: 100%;
        text-align: center;
    }

    nav ul li, nav ul li a:hover a{
        padding: 10px 0px 10px 0px;
    }

    nav li:hover .submenu{
        display: block;
        position: static;
    }

}

.missionsmen:hover{
    border-top: 5px solid #0203e2;
    background-color: rgba(2, 3, 226, 0.15);
}


.missionsmen .submenu{
    background-color:#448ee4 ;
}

.missionsmen .submenu li:hover{
    background-color:#0241e2 ;
}

.certifmen:hover{
    border-top: 5px solid #0203e2;
    background-color: rgba(2, 3, 226, 0.15);
}


.certifmen .submenu{
    background-color:#448ee4 ;
}

.certifmen .submenu li:hover{
    background-color:#0241e2 ;
}






