h1{
    text-align: center;
}

input {
    margin: 0.4rem;
  }

label{
    color: red;
}

legend{
    color: rgb(223, 133, 15);
}

body{
    background-color: rgb(114, 243, 114);
}

#r1{
    color: green;
    background-color: greenyellow;
}