html,
body {
	height: 100%;
    text-align: center;
}

body {
	margin: 0;
	background-color: orange;
	font-family: sans-serif;
	font-weight: 100;
}
input{
    border-radius: 50%;
    height: 30px;
    text-align: center;

}

button{
    width: 100%;
    border-radius: 10px;
    height: 50px;
    background: rgb(63,94,251);
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

button:hover{
    color: #0026cd;
    background-color: greenyellow;
}


table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 0 auto;
    border-radius: 5%;
}


td {
	padding: 15px;
	background-color: rgba(0, 26, 255, 0.2);
	
    
}





